body {
    background-image: url("../images/congruent_outline.png");
}

.navbar-brand {
    text-align: center;
}

.page-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    
}

.carousel-item {

    width: 100%;
    height: 650px;
    object-fit: scale-down;
}

#food-results {
    color: white;
    padding: 10px;
	display: inline-block;
}

.jumbotron {
    background-color: transparent;
    background-color: rgba(96, 125, 139, 0.1);
    color: whitesmoke
}

#food-input {
    color: whitesmoke
}
#avatar {
    width: 250px;
    height: 250px;
}

.food-image {
    width: 250px;
    height: 250px;
    
}

.food-div {
    display: inline-block;
}